$font-size-title: 3em;
$font-size-subtitle: 2.5em;
$font-size-sub-subtitle:2em;
$font-size-text: 1.2em;
$font-family-project: "Montserrat-SemiBold";
$color-text: white;
$padding-content-index: 120px 0px;
$padding-content-pages:50px 0px;
$background-header-footer: #1a1a1a;
$background-project: #121212;
$max-width-img-footer: 1.5em;