$font-size-title: 3.5em;
$font-size-subtitle: 2.8em;
$font-size-sub-subtitle:2.2em;
$font-size-text: 1.5em;
$font-family-project: "Montserrat-SemiBold";
$color-text: white;
$color-text-secondary:black;
$padding-content-index: 100px 20px;
$padding-content-pages:30px 20px;
$background-header-footer: #1a1a1a;
$background-project: #121212;
$background-card:#2a2a2a;
$max-width-img-footer: 1.5em;