.container-card{
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    gap: 15px;
}
@include respond-to('desktop')
{
    .container-card{
        padding: 20px;
    }
}