.contact{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        input, textarea{
            padding: 10px;
            border: none;
            border-radius: 5px;
        }
        button{
            padding: 10px 20px;
            background-color: #e50914;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}