.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: $padding-content-index;
    position: relative;
    height: 100vh;
}
.hero-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35em;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    h2,p{
        margin: 0px 25px;
    }
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-capa-video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
}